DATABASE_URL="postgresql://USER:PASSWORD@HOST:5432/luminus?schema=public"
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET=""
MP_ACCESS_TOKEN=""
MP_WEBHOOK_SECRET=""
MP_PUBLIC_KEY=""
NEXT_PUBLIC_MP_PUBLIC_KEY=""
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=""
CLOUDINARY_API_KEY=""
CLOUDINARY_API_SECRET=""
NEXT_PUBLIC_CLOUDINARY_UPLOAD_PRESET="luminus-products"
NEXT_PUBLIC_APP_URL="http://localhost:3000"
NEXT_PUBLIC_ALGOLIA_APP_ID=
NEXT_PUBLIC_ALGOLIA_SEARCH_KEY=
ALGOLIA_ADMIN_KEY=
EMAIL_HOST=smtp.hostinger.com
EMAIL_PORT=465
EMAIL_SECURE=true
EMAIL_USER=
EMAIL_PASS=
EMAIL_FROM=
